# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Special build
myscreen-stats
main/modules_list.c
main/modules_list.h
myscreenrc

# temp files
*.swp
*~
*.orig
